body {
  background: rgb(153, 127, 152);
}

.container {
  position: absolute; /* Positioniert den Container relativ zum nächsten positionierten Elternelement */
  top: 50%; /* Platziert den Container 50% vom oberen Rand des Elternelements */
  left: 50%; /* Platziert den Container 50% vom linken Rand des Elternelements */
  transform: translate(
    -50%,
    -50%
  ); /* Zentriert den Container relativ zu seiner Größe */
  width: 70%; /* Breite des Containers */
  height: 70vh; /* Höhe des Containers */
  display: flex; /* Verwendet Flexbox */
  border: 10px solid #fff;
  border-radius: 20px;
}

.textbox {
  margin-top: 100px;
  width: 40%;
  font-size: 24px;
}

.deleteButton {
  background-image: url("assets/delete.png");
  background-size: cover;
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  margin-left: 20vh;
  border: none;
  cursor: pointer;
  vertical-align: middle; /* Damit das Bild vertikal zentriert wird */
  background-position: center; /* Zentriert das Hintergrundbild horizontal */
}

.textfield {
  width: 20rem;
  font-size: 20px;
}

#todo-list {
  margin-top: 6em;
}

#todo-list li {
  display: flex; /* Verwendet Flexbox */
  align-items: center; /* Zentriert den Text vertikal */
  padding: 5px; /* Innenabstand hinzufügen */
  margin: 5px; /* Außenabstand hinzufügen */
  border: 1px solid #fff;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  background-color: rgb(255, 255, 255); /* Hintergrundfarbe hinzufügen */
}

#todo-list li:hover {
  background-color: rgb(228, 228, 228);
}

#todo-list li span {
  flex: 1; /* Flexibles Layout für den Text */
  white-space: nowrap; /* Verhindert das Umbruch des Textes */
}

#todo-list li button {
  width: 25px; /* Breite des Löschbuttons */
  height: 25px; /* Höhe des Löschbuttons */
  margin-left: auto; /* Platziert den Löschbutton ganz rechts */
}

.create-todo {
  display: flex; /* Verwendet Flexbox */
  justify-content: center;
  align-items: center; /* Zentriert die Elemente vertikal */
}

#createButton {
  background-image: url("assets/add-icon.png");
  background-size: cover;
  background-color: rgb(154, 164, 181);
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  margin-left: 10px;

  border: none;
  cursor: pointer;
}

.left-side,
.right-side {
  flex: 1;
  padding: 1px;
  overflow-y: auto;
}

.left-side {
  background-color: rgb(154, 164, 181);
  border: 0.1px solid #fff;
}
.right-side {
  background-color: rgb(159, 168, 183);
  border: 0.1px solid #fff;
}

.left-side h2 {
  margin-top: 10px;
  font-size: 2.5em;
  text-align: center;
  border-bottom: 0.5px solid #fff;
}

.right-side h2 {
  margin-top: 10px;
  font-size: 2.5em;
  text-align: center;
  border-bottom: 0.5px solid #fff;
}

.notizen {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  text-align: center;
}
.notizen textarea {
  font-size: 25px; /* Beispielwert für die Schriftgröße */
  font-family: "Times New Roman", Times, serif;
}

/* Media Query für die mobile Ansicht */
@media only screen and (max-width: 768px) {
  .container {
    width: 80%; /* Ändern Sie die Breite für Bildschirme mit einer maximalen Breite von 768px */
    height: 70vh; /* Ändern Sie die Höhe für Bildschirme mit einer maximalen Breite von 768px */
  }
  .textbox {
    width: 100%; /* Ändern Sie die Breite für Bildschirme mit einer maximalen Breite von 768px */
  }
}
